{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list utils %}

{% block extrahead %}
    {{ block.super }}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <script type="text/javascript" src="{% static "js/highstock/highstock.js" %}"></script>
    <script type="text/javascript" src="{% static "js/highstock/highcharts-more.js" %}"></script>
    <script type="text/javascript" src="{% static "js/highstock/modules/exporting.js" %}"></script>
    

<script type="text/javascript">
$(function() {
    $.getJSON('/admin/pings/ping/31/104/timeseries/', function(data) {
        // split the data set into ohlc and volume
        var loss = [],
            rtt = [],
            rtt_avg = [],
            dataLength = data.length;
        for (i = 0; i < dataLength; i++) {
            rtt.push([
                data[i][0], // the date
                data[i][3], // high
                data[i][4] // low
            ]);
            rtt_avg.push([
                data[i][0], // high
                data[i][2] // low
            ])
            loss.push([
                data[i][0], // the date
                data[i][1] // the rtt
            ])
        }
        // set the allowed units for data grouping
        var groupingUnits = [[
            'week',                         // unit name
            [1]                             // allowed multiples
        ], [
            'month',
            [1, 2, 3, 4, 6]
        ]];
        // create the chart
        $('#pingchart').highcharts('StockChart', {
            rangeSelector: {
                selected: 1
            },
        yAxis: [{ // Primary yAxis
            labels: {
                formatter: function() {
                    return this.value + 'ms';
                },
                style: {
                    color: '#89A54E'
                }
            },
            title: {
                text: 'RTT',
                style: {
                    color: '#89A54E'
                }
            }
        }, { // Secondary yAxis
            title: {
                text: 'Packet Loss',
                style: {
                    color: '#4572A7'
                }
            },
            labels: {
                formatter: function() {
                    return this.value + '%';
                },
                style: {
                    color: '#4572A7'
                }
            },
            opposite: true
        }],
        tooltip: {
            shared: true
        },
        series: [{
                type: 'line',
                name: 'loss',
                data: loss,
                dataGrouping: {
                    units: groupingUnits
                }
            }, {
                type: 'arearange',
                name: 'rtt range',
                data: rtt,
                yAxis: 1,
                dataGrouping: {
                    units: groupingUnits
                }
        }, {
                type: 'line',
                name: 'rtt',
                data: rtt_avg,
                yAxis: 1,
                dataGrouping: {
                    units: groupingUnits
                }
        }]
        });
    });
});
</script>
{% endblock %}

{% block content_title %}{% if title %}<h1>Pings on 
    <a href="{% url obj_opts|admin_urlname:'change' obj.pk %}">{{ obj|truncatewords:"18" }}</a>
    ({{ ip_addr }})</h1>
{% endif %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=obj_opts.app_label %}">{{ obj_opts.app_label|capfirst|escape }}</a>
    &rsaquo; <a href="{% url obj_opts|admin_urlname:'changelist' %}">{{ obj_opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; <a href="{% url obj_opts|admin_urlname:'change' obj.pk %}">{{ obj|truncatewords:"18" }}</a>
    &rsaquo; Ping
    </div>
{% endblock %}

{% block object-tools %}
<ul class="object-tools">
    {% if 'state'|isinstalled and obj_opts.verbose_name_plural == 'nodes' %}
        <li><a href="{% url 'admin:state_nodestate_change' obj.pk %}"> State </a></li>
    {% endif %}
    <li>
      <a href="{{ ping_url }}" class="historylink" title="Perform a ping operation on this address"> Ping machine ! </a>
    </li>
</ul>
{% endblock %}

{% block result_list %}
<div id="pingchart"></div>
    {{ block.super }}

<!--style="min-width: 400px; height: 400px; margin: 0 auto"></div>-->


{% endblock %}


