{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list utils %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static "admin/js/jquery.js" %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static "js/highstock/highstock.js" %}"></script>
    <script type="text/javascript" src="{% static "js/highstock/highcharts-more.js" %}"></script>
    <script type="text/javascript" src="{% static "js/highstock/modules/exporting.js" %}"></script>
    <script type="text/javascript" src="{% static "pings/js/pingsgraph.js" %}"></script>
    <script type="text/javascript">
        pingsgraph("{{metrics_url }}");
    </script>
{% endblock %}

{% block content_title %}{% if title %}<h1>Pings on {{ obj_opts.object_name.lower }} 
    <a href="{% url obj_opts|admin_urlname:'change' obj.pk %}">{{ obj|truncatewords:"18" }}</a>
    (<a href="http://[{{ ip_addr }}]">{{ ip_addr }}</a>)</h1>
{% endif %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=obj_opts.app_label %}">{{ obj_opts.app_label|capfirst|escape }}</a>
    &rsaquo; <a href="{% url obj_opts|admin_urlname:'changelist' %}">{{ obj_opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; <a href="{% url obj_opts|admin_urlname:'change' obj.pk %}">{{ obj|truncatewords:"18" }}</a>
    &rsaquo; Ping
    </div>
{% endblock %}


{% block object-tools %}
<ul class="object-tools">
    {% if 'state'|isinstalled and obj_opts.verbose_name_plural == 'nodes' %}
        <li><a href="{% url 'admin:state_state_change' obj.state.pk %}"> State </a></li>
    {% endif %}
    <li>
      <a href="{{ ping_url }}" class="historylink" title="Perform a ping operation on this address"> Ping machine ! </a>
    </li>
</ul>
{% endblock %}


{% block date_hierarchy %}
    <div id="pingchart" style="margin: 2;"></div>
    <hr>
    {{ block.super }}
{% endblock %}
