{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list utils %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/highstock/highstock.js" %}"></script>
    <script type="text/javascript" src="{% static "js/highstock/highcharts-more.js" %}"></script>
    <script type="text/javascript" src="{% static "js/highstock/modules/exporting.js" %}"></script>
    <script type="text/javascript">
    $(function() {
        $.getJSON('{{ metrics_url }}', function(data) {
            // Create a timer
            var start = + new Date();
            // split the data set intopacket loss and rtt
            var loss = [],
                rtt = [],
                rtt_avg = [],
                dataLength = data.length;
            for (i = 0; i < dataLength; i++) {
                rtt.push([
                    data[i][0], // the date
                    data[i][3], // high
                    data[i][4] // low
                ]);
                rtt_avg.push([
                    data[i][0], // the date
                    data[i][2] // avg
                ])
                loss.push([
                    data[i][0], // the date
                    data[i][1] // the rtt
                ])
            }
            // create the chart
            $('#pingchart').highcharts('StockChart', {
                chart: {
                    events: {
                        load: function(chart) {
                            this.setTitle(null, {
                                text: 'Built chart at '+ (new Date() - start) +'ms'
                            });
                        }
                    },
                    zoomType: 'x'
                },
                credits: {
                    enabled: false
                },
                rangeSelector: {
                    buttons: [{
                        type: 'day',
                        count: 1,
                        text: '1d'
                    }, {
                        type: 'day',
                        count: 3,
                        text: '3d'
                    }, {
                        type: 'week',
                        count: 1,
                        text: '1w'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1y'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    selected: 3
                },
            yAxis: [{ // Primary yAxis
                title: {
                    text: 'Packet Loss',
                    style: {
                        color: '#ef2929'
                    }
                },
                labels: {
                    formatter: function() {
                        return this.value + '%';
                    },
                    style: {
                        color: '#4572A7'
                    }
                },
                opposite: true
            }, { // Secondary yAxis
                labels: {
                    formatter: function() {
                        return this.value + 'ms';
                    },
                    style: {
                        color: '#4572A7'
                    }
                },
                title: {
                    text: 'RTT',
                    style: {
                        color: '#4e9a06'
                    }
                }
            }],
            tooltip: {
                color: 'blue',
                shared: true
            },
            scrollbar : {
                enabled : false
            },
            series: [{
                    type: 'line',
                    color: '#ef2929',
                    name: 'loss',
                    data: loss
           }, {
                    type: 'areasplinerange',
                    color: '#8ae234',
                    name: 'rtt range',
                    data: rtt,
                    yAxis: 1
            }, {
                    type: 'line',
                    color: '#4e9a06',
                    name: 'rtt',
                    data: rtt_avg,
                    yAxis: 1
            }]
            });
        });
    });
    </script>
{% endblock %}

{% block content_title %}{% if title %}<h1>Pings on {{ obj_opts.object_name.lower }} 
    <a href="{% url obj_opts|admin_urlname:'change' obj.pk %}">{{ obj|truncatewords:"18" }}</a>
    (<a href="http://[{{ ip_addr }}]">{{ ip_addr }}</a>)</h1>
{% endif %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=obj_opts.app_label %}">{{ obj_opts.app_label|capfirst|escape }}</a>
    &rsaquo; <a href="{% url obj_opts|admin_urlname:'changelist' %}">{{ obj_opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; <a href="{% url obj_opts|admin_urlname:'change' obj.pk %}">{{ obj|truncatewords:"18" }}</a>
    &rsaquo; Ping
    </div>
{% endblock %}


{% block object-tools %}
<ul class="object-tools">
    {% if 'state'|isinstalled and obj_opts.verbose_name_plural == 'nodes' %}
        <li><a href="{% url 'admin:state_state_change' obj.state.pk %}"> State </a></li>
    {% endif %}
    <li>
      <a href="{{ ping_url }}" class="historylink" title="Perform a ping operation on this address"> Ping machine ! </a>
    </li>
</ul>
{% endblock %}


{% block date_hierarchy %}
    <div id="pingchart" style="margin: 2;"></div>
    <hr>
    {{ block.super }}
{% endblock %}
