{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='slices' %}">Slices</a>
&rsaquo; <a href="{% url 'admin:slices_slice_changelist' %}">Slices</a>
&rsaquo; <a href="{% url 'admin:slices_slice_change' slice.pk %}">{{ slice }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}

