django
kombu==2.4.7
django-celery-email
django-fluent-dashboard
south
djangorestframework==2.2.1
django-private-files
IPy
django-singletons
django-extensions
django_transaction_signals
django-celery
markdown
django-filter
django-admin-tools
https://bitbucket.org/glic3rinu/django-registration/get/tip.tar.gz
pygments
requests
https://github.com/madisona/django-google-maps/archive/master.zip
