django
kombu==2.4.7
celery==3.0.10
django-celery==3.0.10
django-celery-email
django-fluent-dashboard
south
djangorestframework==2.2.6
django-private-files
IPy
django-singletons
django-extensions
django_transaction_signals
markdown
django-filter
django-admin-tools
django-registration==1.0
pygments
requests
https://github.com/madisona/django-google-maps/archive/master.zip
paramiko
django-jsonfield

