{% extends "admin/base_site.html" %}

{% block branding-stetic %}
    <div id="header-branding"></div>

    <style media="screen" type="text/css">
    #user-tools {
        visibility: hidden;
    }
    </style>
{% endblock %}

{% block title %}500 Internal Server Error | {{ SITE_VERBOSE_NAME }} {% endblock %}


{% block nav-global %}
{% endblock %}

{% block breadcrumb-stetic %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}

    <h1>500 Internal Server Error</h1>

    <br>
    <p>Sorry, but the requested page is unavailable due to a server error.</p>

    <p>Our engineers have been notified, so check back later.</p>
    <br>
    <hr style="background-color:#B6B6B6;">
    <p><a href="http://wiki.confine-project.eu/soft:server">confine-controller</a></p>

{% endblock %}
