{% extends "admin/controller/change_form.html" %}


{% block object-tools-items %}
{% for item in object_tools_items %}
    {% if item.always_display or has_change_permission %}
    <li><a href="{{item.url_name}}/" class="{{item.css_class}}" title="{{item.description}}">{{item.verbose_name}}</a></li>
    {% endif %}
{% endfor %}
{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='slices' %}">Slices</a>
&rsaquo; <a href="{% url 'admin:slices_sliver_changelist' %}">Slivers</a>
&rsaquo; <a href="{% url 'admin:slices_sliver_change' original.sliver.pk %}">{{ original.sliver|truncatewords:"18" }}</a>
&rsaquo; State
</div>
{% endblock %}


{% block submit_buttons_bottom %}{% endblock %}
