{% extends iframe|yesno:"iframe_layout.html,admin/index.html" %}

{% load i18n admin_static %}

{% block content_title %}
    <h1>{% block accounts_title %}GIS map{% endblock %}</h1>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <div id="map_canvas" style="width: 100%; height: 480px"></div>
</div>

{# OpenLayers + AnimatedCluster: http://acuriousanimal.com/code/animatedCluster/ #}
<script src="{% static "gis/openlayers/OpenLayers.js" %}"></script>
<script src="{% static "gis/openlayers/AnimatedCluster.js" %}"></script>
<script src="{% static "gis/js/gis-map.js" %}"></script>

<script>
var map = OsmMap({{ center.lat }}, {{ center.lng }}, {{ zoom }}, "{{ kml_url }}");
</script>
{% endblock %}
