{% load i18n utils %}

{% block help %}
<p>For reporting problems you can use:
<ol>
{% if 'issues'|isinstalled %}<li>{{ SITE_NAME }} <a href="{% url 'admin:issues_ticket_changelist'%}">issue tracking</a> (Testbed operation related)</li>{% endif %}
<li>Confine projecte <a href="http://redmine.confine-project.eu/projects/confine/issues">redmine</a> (Software related)</li>
</p>
</ol>
{% endblock %}

{% block membership %}
{% if user.join_requests.exists %}
    <p> You have a pending membership request for
    {% for req in user.join_requests.all %}
      <a href="{% url 'admin:users_group_change' req.group.pk %}">{{ req.group }}</a>,
    {% endfor %}
    {% elif not user.groups.exists %}
      <p>You may want to <a href="{% url 'admin:users_group_add' %}">create a group</a> or <a href="{% url 'admin:users_group_changelist' %}">join to an existing one</a> to be able to create slices or nodes.</p>
{% endif %}
{% endblock %}

{% block tinchosts %}
{% if 'tinc'|isinstalled %}
    {% if not user.tinc_hosts.exists %}
        <p>You may want to <a href="{% url 'admin:tinc_host_add' %}">create a tinc host</a>
        for accessing the management network.</p>
    {% elif 'pings'|isinstalled %}
        {% load address_colored %}
        <p>You may want to check your <a href=" {% url 'admin:tinc_host_changelist' %}">hosts</a>
          connectivity to the management network:
          <ol style="list-style-type: circle">
            {% for host in user.tinc_hosts.all %}
              <li><b>{{ host }}</b>: {{ host.mgmt_net|ping_status }}</li>
            {% endfor %}
          </ol>
        </p>
    {% endif %}
{% endif %}
{% endblock %}
