{% extends "admin/firmware/base_build.html" %}
{% load code staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "controller/css/default.css" %}"/>
{% endblock %}

{% block content %}
    {{ block.super }}
    <ul>
        <li><b>Download:</b> <a href={{ build.image.url }}>{{ build.image_name }}</a> </li>
        <ul>
            <li>Buil Date: {{ build.date }}</li>
            <li>Version: {{ build.version }}</li>
            <li>SHA256: {{ build.image_sha256 }}</li>
        </ul>
    <div style="margin-bottom:20px; margin-top:30px;">
    <fieldset class="module aligned">
        <h2>Instructions</h2>
        <p></p>
        <p>The following command can be used for flashing this image (remember to change the destination device):</p>
        {% code 'bash' %}gunzip {{ build.image_name }} -c | dd of=/dev/sdX bs=1M; sync{% endcode %}
    </fieldset>
    </div>
    </ul>
    <p class="deletelink-box"><a href="{% url 'admin:nodes_node_firmware_delete' node.pk %}" class="deletelink">Delete build</a></p>
{% endblock %}
