{% extends "admin/firmware/base_build.html" %}
{% load absurl code staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "controller/css/default.css" %}"/>
    <style>
        #download-instructions {
            margin-bottom:20px;
            margin-top:30px;
        }
        #download-instructions h4 {
            border-bottom: 1px solid #ccc;
        }
        #download-instructions ol {
            margin-left: 0;
        }
        #download-instructions p, #download-instructions li {
            padding-left: 1em;
            padding-right: 2em;
        }
        #download-instructions .note {
            background: #ffc url({% static "firmware/tip.png" %}) no-repeat;
            border-bottom: 1px solid #ddd;
            margin-top: 0;
            padding: 1em 1em 1em 50px;
        }
        #download-instructions .highlight {
            margin-left: 1.5em;
        }
    </style>
{% endblock %}

{% block content %}
    {{ block.super }}
    <ul>
        <li><b>Download:</b> <a href={{ build.image.url }}>{{ build.image_name }}</a> </li>
        <ul>
            <li>Build State: <span style="font-weight: bold; color:{{ state_color}}">{{ build.state }}</span></li>
            <li>Build Date: {{ build.date }}</li>
            <li>Version: {{ build.version }}</li>
            <li>SHA256: {{ build.image_sha256 }}</li>
            <li>Base Image: <a href="{{ base_image.image.url|default:'#' }}">{{ base_image.name }}</a></li>
        </ul>
        {% if node.files.exists %}
        <li>
            <div class="help">You can manage the stored values on
                <a href="{% url "admin:nodes_node_change" node.id %}">node change view</a>.
                Unmark the files that you want to handle manually.
            </div>
        </li>
        {% endif %}
    </ul>
    <div id="download-instructions">
    <fieldset class="module aligned">
    {% if build.kwargs_dict.usb_image %}{# usb plug-in #}
        <h2>USB-installer instructions</h2>
        <h4>Write the image to a USB drive</h4>
        <ol>
            <li>Plug a USB stick in your computer.</li>
            <li>Write the image into the USB (Warning: <strong>change sdX for
                the USB device</strong> (something like sdb):
            {% code 'bash'%}gunzip <image.bin.gz> -c | dd of=/dev/sdX bs=4M ; sync{% endcode %}
            </li>
        </ol>
        <h4>Install the firmware image</h4>
        <ol>
            <li>Plug the USB stick in the research device</li>
            <li>Boot the RD (the installation will start automatically)</li>
        </ol>

    {% else %}{# standard instrucctions #}
      <h2>Instructions</h2>
      <p class="note">The CONFINE wiki contains more information on <a
        href="https://wiki.confine-project.eu/soft:node-upgrade">node upgrade</a> page.<br/>
        If your node is running a <strong>firmware older than June 2015</strong>
        follow specific instructions for <strong><a href="https://wiki.confine-project.eu/soft:node-upgrade#nodes_with_old_firmware">nodes with old firmware</a></strong>.</p>

      <h4>Getting the firmware image</h4>

      <ol type="A">
        <li>
          <h5>Download through your computer (recommended)</h5>
          <ol>
              <li>The <a href={{ build.image.url }}>firmware can be downloaded</a> from this page into your computer.</li>
              <li>Then upload the firmware to the node:</li>
          <ol type="a">
            <li>In the general case, you may use <code>scp</code> to copy the image into the node's temporary directory (with whatever <code>NODE_ADDRESS</code> reachable from your computer):</li>
            {% code 'bash' False %}scp '{{ build.image_name }}' root@NODE_ADDRESS:/tmp{% endcode %}

            <li>If the node is running the CONFINE node system software and both the node and your computer are on the testbed management network but at different locations, you may use the node's management address:</li>
            {% code 'bash' False %}scp '{{ build.image_name }}' root@[{{ node.mgmt_net.addr }}]:/tmp{% endcode %}

            <li>If the node is running the CONFINE node system software and it is connected to the same local link as your computer, you may use the node's recovery address by first adding your computer to that network:</li>
            {% code 'bash' False %}# Whatever address after "...2000:" works.
ip addr add fdbd:e804:6aa9:1:2000::1234/64 dev eth0
scp '{{ build.image_name }}' root@[fdbd:e804:6aa9:1::2]:/tmp{% endcode %}
          </ol>

            <p>See <a href="https://wiki.confine-project.eu/arch:addressing">Addressing in CONFINE</a> for other addresses available in CONFINE nodes.</p>
            </ol>
        </li>

        <li>
          <h5>Direct download to the node (may be insecure)</h5>
            <p>Maybe you want to download the firmware directly to the node to
                avoid uploading it using a low bandwith connection. This method
                is discouraged because of security concerns (see <a href="https://wiki.confine-project.eu/soft:node-upgrade#upgrade_a_node_non-automatic">node upgrade</a>
                for more details). <strong>Use it at your own risk!</strong></p>
          {% code 'bash' False %}ssh root@NODE_ADDRESS
cd /tmp
curl -u {{ request.user.username|default:request.user.email }} -k -O {% absurl build.image.url %}
# It will ask for your controller account password.{% endcode %}
        </li>
        </ol>

        <h4 style="margin-top: 3em;">Installing the firmware image</h4>
        <p style="margin-top:1em">You can use <code>ssh</code> to access the node and
        run the following commands, which are the recommended way for flashing
        the image in a node which is already running the CONFINE node system software:</p>

        {% code 'bash' False %}ssh root@NODE_ADDRESS
cd /tmp
gunzip {{ build.image_name }}
confine.sysupgrade -n {{ build.image_name|cut:".gz" }}{% endcode %}

        <p>For systems lacking <code>confine.sysupgrade</code> you may use the following commands,
        which are more aggressive and only recommended for advanced users
        who have a deep knowledge about their system processes:</p>

        {% code 'bash' False %}ssh root@NODE_ADDRESS
cd /tmp
# Stop any processes writing to /dev/sdX here.
mount -o ro,remount /dev/sdX
gunzip -c {{ build.image_name }} | dd of=/dev/sdX bs=1M; sync
# Force a reboot here.{% endcode %}
    {% endif %}{# end instructions #}
    </fieldset>
    </div>
    </ul>
    <p class="deletelink-box">
        <a href="{% url 'admin:nodes_node_firmware_delete' node.pk %}"
           class="deletelink">Delete build</a>
    </p>
{% endblock %}
