{% extends "admin/firmware/base_build.html" %}
{% load staticfiles utils %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block content %}
{{ block.super }}
<form action="" method="post">{% csrf_token %}
  <div>
    <div style="margin:20px;">
    <fieldset class="module aligned">
        <h2>Base Image</h2>
        {{ img_form.non_field_errors }}
        {% for field in img_form %}
        <div class="form-row">
            <div>
            {{ field.errors }}
            {{ field }}
            <p class="help">{{ field.help_text }}</p>
            </div>
        </div>
        {% endfor %}
    </fieldset>
    <fieldset class="module aligned">
        <h2>Registry API</h2>
        {{ api_form.non_field_errors }}
        {% for field in api_form %}
        <div class="form-row">
            <div>
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
            <p class="help">{{ field.help_text }}</p>
            </div>
        </div>
        {% endfor %}
        <script type="text/javascript">
            // Wait until jQuery has been loaded by django
            window.onload = function () {
                $("#id_api-registry_api").change(function() {
                    var api_id = $(this).val();
                    if(!api_id) { return; } //Do nothing for blank value
                    $.getJSON("{% url 'admin:nodes_server_api' %}", {id: api_id},
                          function(api) {
                              $("#id_api-base_uri").val(api["base_uri"]);
                              $("#id_api-cert").val(api["cert"]);
                          });
                });
            }
        </script>
    </fieldset>
    <fieldset class="module aligned">
        <h2>Optional files</h2>
        {% if node.files.exists %}
        <div class="help">You can manage the stored values on
            <a href="{% url "admin:nodes_node_change" node.id %}">node change view</a>.
            Unmark the files that you want to handle manually.
        </div>
        {% endif %}
        {{ opt_form.non_field_errors }}
        {% for field in opt_form %}
        <div class="form-row ">
            <div>
            {{ field.errors }}
            {{ field }} <label for="{{ field.id_for_label }}" class="vCheckboxLabel">{{ field.label }}</label>
            <p class="help">{{ field.help_text|safe }}</p>
            </div>
        </div>
        {% endfor %}
    </fieldset>
    {% for plugin in plugins %}
    {% if plugin.instance.form %}
    <fieldset class="module aligned ">
      <h2>{{ plugin.instance.verbose_name }}</h2>
        {{ plugin.instance.form.non_field_errors }}
        {% for field in plugin.instance.form %}
        <div class="form-row ">
            <div >
            {{ field.errors }}
            {% if field|is_checkbox %}
                {{ field }} <label for="{{ field.id_for_label }}" class="vCheckboxLabel">{{ field.label }}</label>
            {% else %}
                {{ field.label_tag }} {{ field }}
            {% endif %}
            <p class="help">{{ field.help_text|safe }}</p>
            </div>
        </div>
        {% endfor %}
    </fieldset>
    {% endif %}
    {% endfor %}
    
    </div>
      <input type="hidden" name="action" value="get_firmware" />
      <input type="hidden" name="post" value="yes" />
      <div style="float:left;">
        <input type="submit" class="default" value="Build firmware !"/>
      </div>
  </div>
</form>
{% endblock %}
