{% extends "admin/firmware/base_build.html" %}
{% load staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "controller/css/jquery-ui.css" %}" />
    <link rel="stylesheet" href="{% static "firmware/css/firmware-build.css" %}" />
    <script src="{% static "admin/js/jquery.js" %}" type="text/javascript"></script>
    <script src="{% static "controller/js/jquery-ui.js" %}" type="text/javascript"></script>
    <script src="{% static "firmware/progress_bar.js" %}" type="text/javascript"></script>
    <script>
    progress_bar('{% url 'admin:nodes_node_firmware_build_info' node.pk %}');
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="description"></div>
    <div id="progressbar"></div>
    <div id="firmware-warning">
        It's your firmware build taking too long?
        <a href="{% url "admin:nodes_node_firmware_delete" node.pk %}">Delete it!</a>
        and try again.
    </div>
{% endblock %}

