{% extends "admin/firmware/base_build.html" %}
{% load staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "controller/css/jquery-ui.css" %}" />
    <script src="{% static "controller/js/jquery-1.9.1.js" %}"type="text/javascript"></script>
    <script src="{% static "controller/js/jquery-ui.js" %}"type="text/javascript"></script>
    <script src="{% static "firmware/progress_bar.js" %}" type="text/javascript"></script>
    <script>
    progress_bar('{% url 'admin:nodes_node_firmware_build_info' node.pk %}');
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <p></p>
    <div id="description"></div>
    <div id="progressbar"></div>
{% endblock %}

