{% extends "admin/firmware/base_build.html" %}

{% block content %}
    {{ block.super }}
    <form action="" method="post">
      <fieldset class="module">
        <h2>Base Image</h2>
        {% for field in form %}
        <div class="form-row">
            <p>There are several base images that supports the architecture of
            the node "{{ node.name }}". Please choose one them for getting the
            firmware.</p>
            {{ field.errors }}
            {{ field }}
            <p class="help">{{ field.help_text }}</p>
        </div>
        {% endfor %}
        <div class="form-row">
          {% csrf_token %}
          <input type="submit" value="Continue"/>
        </div>
      </fieldset>
    </form>
{% endblock %}

