{% extends "admin/controller/change_form.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load slices_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='slices' %}">Slices</a>
&rsaquo; <a href="{% url 'admin:slices_slice_changelist' %}">Slice</a>
&rsaquo; <a href="{% url 'admin:slices_slice_change' slice.pk %}">{{ slice }}</a>
&rsaquo; {{ original|truncatewords:"18" }}
</div>
{% endblock %}
