{% extends "admin/controller/change_form.html" %}
{% load i18n static %}

{% block extrahead %}
  {{ block.super }}
    <script src="{% static "admin/js/jquery.js" %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'controller/js/changes_not_saved_alert.js' %}"></script>
{% endblock %}


{% block object-tools-items %}
<li><a href="execute/" class="historylink">Execute</a></li>
{% for item in object_tools_items %}
    {% if item.always_display or has_change_permission %}
        <li><a href="{{item.url_name}}/" class="{{item.css_class}}" title="{{item.description}}">{{item.verbose_name}}</a></li>
    {% endif %}
{% endfor %}
<li><a href="history/" class="historylink">{% trans "History" %}</a></li>
{% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
{% endblock %}
