{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load list_nodes %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='maintenance' %}">Maintenance</a>
&rsaquo; <a href="{% url 'admin:maintenance_operation_changelist' %}">Operations</a>
&rsaquo; <a href="{% url 'admin:maintenance_operation_change' operation.pk %}">{{ operation }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}


{% block result_list %}
  {% if action_form and actions_on_top and cl.full_result_count %}{% list_nodes_admin_actions %}{% endif %}
  {% result_list cl %}
  {% if action_form and actions_on_bottom and cl.full_result_count %}{% list_nodes_admin_actions %}{% endif %}
{% endblock %}

