
/* Global */
#content{
    width: 950px;
    margin: 0 auto;
}

#content a{
    display: block;
}

.slice_container{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 3px;
    padding: 3px;
}

/* Utils */
#message_overlay{
    color: green;
    list-style: none;
    display: none;
}
