#header {
    height: 75px; /* Reserve space to nav bar */
}

.result_list {
    border: 1px solid #CCC;
    margin: 10px;
    width: 98%;

}

.result_list tr th,
.result_list tr td {
    text-align: center;
}

.result_list td.highlight { font-weight: bold; }
.result_list td.highlight.online, .result_list tfoot td.online { color: green; }
.result_list td.highlight.offline, .result_list tfoot td.offline { color: red; }
.result_list td.highlight.unknown, .result_list tfoot td.unknown { color: orange; }
.result_list td.highlight.registered, .result_list tfoot td.registered { color: grey; }
.result_list td.highlight.deployed, .result_list tfoot td.deployed { color: orange; }
.result_list td.highlight.started, .result_list tfoot td.started { color: green; }

.result_list thead tr th.expanded,
.result_list thead tr:last-child th {
    background: white;
    border-bottom: 2px solid black;
    vertical-align: middle;
}

.result_list tbody tr th,
.result_list tbody tr td,
.result_list tfoot tr th,
.result_list tfoot tr td {
    padding: 7px 0;
}

.result_list tfoot tr th,
.result_list tfoot tr td {
    background: #fff;
    color: black;
    font-weight: bold;
    border-top: 3px solid black;
    border-bottom: 0;
    border-left: 0;
    vertical-align: middle;
}

.result_list .version_link {
    color:#5b80b2;
}

/** slivers and slices d3js.org graphs styles **/
#d3wrapper {
/*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  margin: auto;
  position: relative;
  width: 960px;
}

#d3form {
    position: absolute;
    top: 5px;
    text-align: right;
    width: 850px;
}

#d3graph {
    margin-bottom: 1em;
}

#d3legend {
    margin: 0;
    padding-right: 0;
    padding-left: 15px;
    width: 835px; /* 850 - padding */
}

#d3legend li { list-style: square; }

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  z-index: 10;
}

.tooltip {
  position: absolute;
  border:1px solid;
  margin:8px;
  padding: 4px;
  opacity: 0.8;
  z-index: 1000;
}
