{% extends "admin/index.html" %}

{% load i18n admin_static staticfiles %}

{# block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "state/css/report.css" %}" />{% endblock #}

{% block extrahead %}
  {{ block.super }}
  <script src="{% static "admin_tools/js/jquery/jquery.min.js" %}" type="text/javascript"></script>
  {#<script src="{% static "state/js/report.js" %}" type="text/javascript"></script>#}
    
    
<script>
$(document).ready(function() {
    // load sliver details via AJAX
    $('.sliver .info a').on("click", function() {
        url = $(this).data('sliver-url');
        $('#sliver-detail-content').load(url);
    });
});
</script>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<style>
.sliver div { display: inline-block; padding: 0.5em;}
.sliver.odd {}
.sliver.even { background: #f3f2f4; }
.header { background: rgb(200, 218, 218); }
.name { width: 160px; }
.group { width: 120px; }
.start, .end { width: 120px; }
.info { width: 120px;}

#sliver-detail {
    background: #f3f2f4;
    border: 1px solid #f3f2f4;
    border-radius: 10px;
    margin-top: 5em;
    padding: 1em;
}
</style>

<div id="content">
    <h2>Experiments/services on node <a href="{% url 'admin:nodes_node_change' node.pk %}">{{ node.name }}</a></h2>
    <div class="sliver header">
        <div class="name">Name</div>
        <div class="group">Run by</div>
        <div class="start">Start date</div>
        <div class="end">End date</div>
        <div class="info"></div>
    </div>
{% for sliver in node.slivers.all %}
    <div class="sliver {% cycle 'odd' 'even' %}">
        <div class="name"><a href="{% url 'admin:slices_slice_change' sliver.slice.pk %}">{{ sliver.slice.name }}</a></div>
        <div class="group"><a href="{% url 'admin:users_group_change' sliver.slice.group.pk %}">{{ sliver.slice.group.name }}</a></div>
        <div class="start">{# sliver.slice.start #}Nov. 1, 2013</div>
        <div class="end">{# sliver.slice.end #}Dec. 29, 2014</div>
        <div class="info"><a href="#" data-sliver-url="{% url 'public_sliver_detail' sliver.pk %}">details</a></div>
    </div>
{% endfor %}
    <div id="sliver-detail">
        [?] select a sliver for more details.
        <div id="sliver-detail-content"></div>
    </div>
</div>
{% endblock %}
