{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "controller/css/registration.css" %}" />
{% endblock %}

{% block adminextraprettystyle %}{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}
    <h1>{% block accounts_title %}User registration{% endblock %}</h1>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote">
{% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{% endif %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
    {% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
        <p class="errornote">
            {{ error }}
        </p>
    {% endfor %}
{% endif %}

<div id="content-main">
    {% block accounts %}{% endblock %}
</div>
{% endblock %}
