{% extends "registration/layout.html" %}

{% block accounts %}
 <div style="padding-left:50px;">
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {{ field.errors }}
              <div class="form-row"><label for="id_username" class="required">{{ field.label }}:</label> {{ field }}</div>
            <p class="help">{{ field.help_text }}</p>
        {% endfor %}
        <div class="form-row">
            <label>&nbsp;</label>
            <input type="submit" value="Sign up" />
        </div>

    </form>
</div>
{% endblock %}
