{% extends "registration/layout.html" %}

{% block accounts %}
<form action="." method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-row {{ field.name }}">
            {{ field.errors }}
            <label for="{{ field.auto_id }}" class="{% if field.field.required %}required{% endif %}">{{ field.label }}:</label>
            {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <div class="submit-row">
        <label>&nbsp;</label>
        <input type="submit" value="Sign up" />
    </div>
</form>
{% endblock %}
