{% extends "site_base.html" %}

{% block content %}
<form action="" method="POST">
  {% csrf_token %}

  <div class="field">
    {{ form.name.label_tag }}
    {{ form.name }}
  </div>
  <div class="field">
    {{ form.template.label_tag }}
    {{ form.template }}
  </div>
  <div class="field">
    {{ form.vlan_nr.label_tag }}
    {{ form.vlan_nr }}
  </div>
  <div class="field">
    {{ form.exp_data_uri.label_tag }}
    {{ form.exp_data_uri }}
  </div>
  <div class="field">
    {{ form.exp_data_sha256.label_tag }}
    {{ form.exp_data_sha256 }}
  </div>
  <div class="field">
    {{ form.uuid.label_tag }}
    {{ form.uuid }}
  </div>
  <div class="field">
    {{ form.pubkey.label_tag }}
    {{ form.pubkey }}
  </div>
  <div class="field">
    {{ form.expires.label_tag }}
    {{ form.expires }}
  </div>
  <div class="field">
    {{ form.instance_sn.label_tag }}
    {{ form.instance_sn }}
  </div>
  <div class="field">
    {{ form.new_sliver_instance_sn.label_tag }}
    {{ form.new_sliver_instance_sn }}
  </div>


  <div class="field">
    {{ form.nodes }}
  </div>

  <input type="submit" value="submit"/>

</form>
{% endblock %}
