{% extends "site_base.html" %}

{% block content %}
{% for slice in slices %}
<div>
  <div>
    <h3>Info</h3>
    <p>{{ slice.name }}</p>
    <p>{{ slice.status }}</p>
  </div>
  <div>
    <h3>Slivers</h3>
    {% for sliver in slice.sliver_set.all %}
    <p>{{ sliver.node.hostname }}</p>
    {% endfor %}
  </div>
  <p>
    <a href="{% url get_slice_public_keys slice.name %}">
      Get Slice Public Keys
    </a>
  </p>
</div>
{% endfor %}

<div id="slice_menu">
  <a href="{% url create_slice %}">Create Slice</a>
</div>
{% endblock %}
