{% extends "site_base.html" %}

{% block content %}
<div id="slice_menu">
  <a href="{% url create_slice %}">Create Slice</a>
</div>
{% for slice in slices %}
<div class="slice_container">
  <fieldset>
    <legend>Info</legend>
    <p>
      <span style="font-weight:bold;">
        name:
      </span>
      {{ slice.name }}
    </p>
    <p>
      <span style="font-weight:bold;">
        state:
      </span>
      {{ slice.state }}
    </p>

  </fieldset>
  <fieldset>
    <legend>Slivers</legend>
    {% for sliver in slice.sliver_set.all %}
    <fieldset>
      <legend>Sliver on host {{ sliver.node.hostname }}</legend>
      <p>
        <span style="font-weight:bold;">
          state:
        </span>
        {{ sliver.state }}
      </p>
      <p>
        <span style="font-weight:bold;">
          number:
        </span>
        {{ sliver.number }}
      </p>
      <fieldset>
        <legend>Interfaces</legend>
        {% for nr in sliver.networkrequest_set.all %}
        <fieldset>
          <legend>Interface {{ forloop.counter }}</legend>
          <p>
            <span style="font-weight:bold;">
              name:
            </span>
            {{ nr.interface.name }}
          </p>
          <p>
            <span style="font-weight:bold;">
              type:
            </span>
            {{ nr.type }}
          </p>
          <p>
            <span style="font-weight:bold;">
              number:
            </span>
            {{ nr.number }}
          </p>
          <p>
            <span style="font-weight:bold;">
              mac:
            </span>
            {{ nr.mac_address }}
          </p>
          <p>
            <span style="font-weight:bold;">
              ipv4:
            </span>
            {{ nr.ipv4_address }}
          </p>
          <p>
            <span style="font-weight:bold;">
              ipv6:
            </span>
            {{ nr.ipv6_address }}
          </p>          
        </fieldset>
        {% endfor %}
      </fieldset>
      <p style="margin-left: 50px;">
        <a href="{% url start_sliver sliver.id %}">Start sliver</a>
      </p>
      <p style="margin-left: 50px;">
        <a href="{% url stop_sliver sliver.id %}">Stop sliver</a>
      </p>
      <p style="margin-left: 50px;">
        <a href="{% url delete_sliver sliver.id %}">Delete sliver</a>
      </p>
    </fieldset>
    {% endfor %}
  </fieldset>
  <p>
    <a href="{% url deploy_slivers slice.slug %}">
      Deploy slivers
    </a>
  </p>
  <p>
    <a href="{% url get_slice_public_keys slice.slug %}">
      Get Slice Public Keys
    </a>
  </p>
  <p>
    <a href="{% url delete_slice slice.slug %}">
      Delete Slice
    </a>
  </p>
</div>
{% endfor %}

<div id="slice_menu">
  <a href="{% url create_slice %}">Create Slice</a>
</div>
{% endblock %}
