{% extends "registration/layout.html" %}

{% block accounts_title %}Group registration{% endblock %}
{% block accounts %}
  <p>
    - Your registration request has been received.<br/>
    - A mail was sent to the operations team, your application should be processed shortly.<br/>
    - Upon approval, the group admin will receive an information e-mail<br/>
    - Please send a message to support@confine-project.eu if this request is not instructed within a few days.
  </p>
  <p class="align-right"><a href="{% url 'admin:index' %}">Go back to the index</a></p>
{% endblock %}

