{% extends "registration/layout.html" %}

{% block accounts_title %}Group registration{% endblock %}

{% block accounts %}
    <h3>What is a group?</h3>
    <p>A group (or research group) is a set of users (developers and researchers)
    that have (or will have) access to testbed resources for deploying their
    experiments.</p>

    <p>Although anyone can create a group and manage its users; the group still 
    needs explicit approval by testbed admins to have access to testbed 
    resources (nodes, slices and slivers).</p>

    <p>A group is composed by three kinds of members. Here a roughly definition
    of their members roles:</p>
    <ul>
        <li>Researcher: slices and slivers management, having access to it 
        for develop the experiments.</li>
        <li>Technician: node management.</li>
        <li>Admin: group management (users, nodes, slices and slivers).</li>
    </ul>
    
    <form action="." method="post" enctype="multipart/form-data">
        <h3>Research Group Information:</h3>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-row">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
            <p class="help">{{ field.help_text }}</p>
        </div>
        {% endfor %}

    {% if request.user.is_authenticated %}
      <ul class="messagelist form-row">
        <li class="info">Are you requesting a group as <em>{{ request.user }}.</em>
            When the group is approved, this user will became the group admin.
        </li>
      </ul>
    {% else %}{# also show user registration form #}
        <h3>Administrator information:</h3>
        <p>Are you a registered user? Please <a href="{% url 'django.contrib.auth.views.login' %}?next={{request.path}}">log in</a> 
        to register a new group using your account.</p>
        {% for field in user_form %}
        <div class="form-row">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
            <p class="help">{{ field.help_text }}</p>
        </div>
        {% endfor %}
    {% endif %}
            <div class="form-row">
            <label>&nbsp;</label>
            <input type="submit" value="Register" />
        </div>
    </form>
    
{% endblock %}

