<html>
  <head>
    <script type="text/javascript"
            src="/static/js/jquery-1.6.1.min.js">
    </script>
    <script type="text/javascript"
            src="/static/js/public.js">
    </script>
  </head>
  <body>
    {% block menu %}
    <div id="menu">
      <a href="{% url node_index %}">Node index</a>
      {% if request.user.is_authenticated %}
      <a href="{% url show_own_slices %}">Show own slices</a>
      <a href="{% url user_profile %}">Profile</a>
      <a href="{% url logout %}">Logout</a>
      {% endif %}
      {% if not request.user.is_authenticated %}
      <a href="{% url login %}">Login</a>
      {% endif %}
    </div>
    {% endblock %}

    {% block content %}

    {% endblock %}
  </body>
</html>
