{% extends "admin/change_form.html" %}
{% load i18n %}
{% load groups %}
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if original|has_join_request:user %}
    <li><a href="#" class="joinreqlink">Join Group Requested</a></li>
    {% else %}{% if not original|is_member:user %}
        <li><a href="join/" class="joinreqlink">Request Join Group</a></li>
    {% endif %}{% endif %}
    {% if has_absolute_url %}
        <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">
            {% trans "View on site" %}</a>
        </li>
    {% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
