{% extends "admin/base_site.html" %}
{% load i18n l10n %}
{% load url from future %}
{% load admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {{ action_name }} multiple objects
</div>
{% endblock %}

{% block content %}
    <p>{{ content_message }}</p>
    <ul>
    {% for deletable_object in deletable_objects %}
        <li> <a href="{% url 'admin:issues_ticket_change' deletable_object.id %}">{{ deletable_object }} </a></li>
    {% endfor %}
    </ul>
    <form action="" method="post">{% csrf_token %}
    <div>
    <label>Reason to reject it:</label><br/>
    <textarea name="reason" rows="5" cols="40"></textarea><br/>
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
    <input type="hidden" name="action" value="{{ action_value }}" />
    <input type="hidden" name="post" value="generic_confirmation" />
    <input type="submit" value="{% trans "Yes, reject the ticket" %}" />
    </div>
    </form>
{% endblock %}

