{% extends "admin/base_site.html" %}
{% load i18n l10n %}
{% load url from future %}
{% load admin_urls %}
{% load code %}

{% block extrahead %}
    {{ block.super }}
    {% if build and build.is_processing %}
        <meta http-equiv="refresh" content="3">
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' node.pk %}">{{ node|capfirst }}</a>
&rsaquo; Download Firmware
</div>
{% endblock %}

{% block content_title %}<h1>{{ content_title }}</h1>{% endblock %}


{% block content %}
    <style>code,pre {font-size:1.1em; }</style>
    <p></p>
    <p>{{ content_message }}</p>
    {% if build %}
        {% if build.is_available %}
        <ul>
            <li><b>Download:</b> <a href={{ build.image.url }}>{{ build.image_name }}</a> </li>
            <ul>
                <li>Buil Date: {{ build.date }}</li>
                <li>Version: {{ build.version }}</li>
                <li>SHA256: {{ build.image_sha256 }}</li>
            </ul>
        <div style="margin-bottom:20px; margin-top:30px;">
        <fieldset class="module aligned">
            <h2>Instructions</h2>
            <p></p>
            <p>The following command can be used for flashing this image (remember to change the destination device):</p>
            <link rel="stylesheet" type="text/css" media="screen" href="/static/common/css/default.css" />
            {% code 'bash' %}gunzip {{ build.image_name }} -c | dd of=/dev/sdX bs=1M; sync{% endcode %}
        </fieldset>
        </div>
        </ul>
        {% endif %}
    {% endif %}
    {% if can_build %}
        {% if not build or build.is_unavailable %}
            <form action="" method="post">{% csrf_token %}
            <div>
            <div style="margin-left:20px; margin-bottom:20px; margin-top:20px;">
            <fieldset class="module aligned">
                <h2>Optional files</h2>
                    <div class="form-row field-name">
               <table border="1">
                 <thead><tr> <th></th> <th>Image</th> <th>Help</th> </tr></thead>
                 <tbody>
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        <tr><td>{{ field }}</td><td><b>{{ field.label_tag }}</b></td><td>{{ field.help_text|linebreaks }}</td></tr>
                    </div>
                {% endfor %}
                </tbody>
                </table>
                </div>
            </fieldset>
            </div>
            {% for obj in queryset %}
            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
            {% endfor %}
            <input type="hidden" name="action" value="get_firmware" />
            <input type="hidden" name="post" value="yes" />
            <div style="float:left;">
            <input type="submit" class="default" value="{% trans "Build firmware !" %}" />
            </div>
            </div>
            </form>
        {% endif %}
    {% endif %}
    {% if build and build.is_processing %}
        <img src="/static/firmware/load.gif">
    {% endif %}
{% endblock %}

