{% extends iframe|yesno:"admin/state/state/iframe_layout.html,admin/index.html" %}

{% load i18n admin_static staticfiles %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "state/css/report.css" %}" />{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% static "admin_tools/js/jquery/jquery.min.js" %}" type="text/javascript"></script>
  <script src="{% static "state/js/report.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content_title %}
    <h1>{% block accounts_title %}Testbed Status Report{% endblock %}</h1>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <div class="results">
        <table class="result_list">
          <thead>
            <tr>
                <th rowspan="2" class="expanded">Group</th>
                <th colspan="4">Nodes</th>
                <th rowspan="2" class="expanded">Slices</th>
                <th colspan="5">Slivers</th>
            </tr>
            <tr>
                {# nodes #}
                <th>online</th>
                <th>offline</th>
                <th>unknown</th>
                <th>total</th>
                
                {# slivers #}
                <th>registered</th>
                <th>deployed</th>
                <th>started</th>
                <th>offline</th>
                <th>total</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>TOTAL</th>
              <td class="online">{{ data.totals.nodes.online|default:0 }}</td>
              <td class="offline">{{ data.totals.nodes.offline|default:0 }}</td>
              <td class="unknown">{{ data.totals.nodes.unknown|default:0 }}</td>
              <td>{{ data.totals.nodes.total|default:0 }}</td>
              <td>{{ data.totals.slices.total|default:0 }}</td>
              <td class="registered">{{ data.totals.slivers.registered|default:0 }}</td>
              <td class="deployed">{{ data.totals.slivers.deployed|default:0 }}</td>
              <td class="started">{{ data.totals.slivers.started|default:0 }}</td>
              <td class="offline">{{ data.totals.slivers.offline|default:0 }}</td>
              <td>{{ data.totals.slivers.total|default:0 }}</td>
            </tr>
          </tfoot>
          <tbody>
              {% for group, states in data.groups.iteritems %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <th><a href="{% url 'admin:users_group_change' group.id %}">{{ group.name }}</a></th>
                    <td class="online">{{ states.nodes.online|default:0 }}</td>
                    <td class="offline">{{ states.nodes.offline|default:0 }}</td>
                    <td class="unknown">{{ states.nodes.unknown|default:0 }}</td>
                    <td>{{ states.nodes.total }}</td>
                    <td>{{ states.slices.total }}</td>
                    <td class="registered">{{ states.slivers.registered|default:0 }}</td>
                    <td class="deployed">{{ states.slivers.deployed|default:0 }}</td>
                    <td class="started">{{ states.slivers.started|default:0 }}</td>
                    <td class="offline">{{ states.slivers.offline|default:0 }}</td>
                    <td>{{ states.slivers.total }}</td>
                </tr>
              {% endfor %}
          </tbody>
        </table>

        <h3>Node software version report</h3>
        <table class="result_list">
            <thead>
              <tr>
                <th>Group <img src="{% static 'admin/img/icon-unknown.gif' %}"
                    class="help help-tooltip" alt="(only groups with nodes)"
                    title="(only groups with nodes)" /></th>
                {% for name, value in node_sw.totals.iteritems %}
                <th>{% if value.url %}<a class="version_link" title="detail of '{{ name }}' in the repository"
                        href="{{ value.url }}">{{ name }}</a>
                    {% else %}{{ name }} <img src="{% static 'admin/img/icon-unknown.gif' %}" class="help help-tooltip"
                        alt="{{ value.title }}" title="{{ value.title }}" />{% endif %}</th>
                {% endfor %}
              </tr>
            </thead>
            <tfoot>
                <tr>
                  <th>TOTAL</th>
                  {% for name, value in node_sw.totals.iteritems %}
                    <td>{{ value.count }}</td>
                  {% endfor %}
                </tr>
            </tfoot>
            <tbody>
            {% for group, versions in node_sw.groups.iteritems %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <th><a href="{% url 'admin:nodes_node_changelist' %}?group__id__exact={{ group.id }}&amp;my_nodes=False ">{{ group.name }}</a></th>
                {% for v in versions %}
                <td>{{ v.count }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>    
</div>
{% endblock %}
