{% extends iframe|yesno:"admin/state/state/iframe_layout.html,admin/index.html" %}

{% load i18n admin_static staticfiles %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "state/css/report.css" %}" />{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script src='/static/admin_tools/js/jquery/jquery.min.js' type="text/javascript"></script>
  <script src="{% static "state/js/report.js" %}"></script>
{% endblock %}

{% block content_title %}
    <h1>{% block accounts_title %}Testbed Status Report{% endblock %}</h1>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <div class="results">
        <table id="result_list">
          <thead>
            <tr>
                <th rowspan="2" class="expanded">Group</th>
                <th colspan="4">Nodes</th>
                <th rowspan="2" class="expanded">Slices</th>
                <th colspan="4">Slivers</th>
            </tr>
            <tr>
                {# nodes #}
                <th>online</th>
                <th>offline</th>
                <th>unknown</th>
                <th>total</th>
                
                {# slivers #}
                <th>registered</th>
                <th>deployed</th>
                <th>started</th>
                <th>total</th>
            </tr>
          </thead>
          <tbody>
          {% for key, group in groups.items %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <th><a href="{% url 'admin:users_group_change' group.id %}">{{ group.name }}</a></th>
                <td class="online">{{ group.nodes__count__online|default:0 }}</td>
                <td class="offline">{{ group.nodes__count__offline|default:0 }}</td>
                <td class="unknown">{{ group.nodes__count__unknown|default:0 }}</td>
                <td>{{ group.nodes__count }}</td>
                <td>{{ group.slices__count }}</td>
                <td class="registered">{{ group.slices__slivers__count__registered|default:0 }}</td>
                <td class="deployed">{{ group.slices__slivers__count__deployed|default:0 }}</td>
                <td class="started">{{ group.slices__slivers__count__started|default:0 }}</td>
                <td>{{ group.slices__slivers__count }}</td>
            </tr>
          {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>TOTAL</th>
              <td class="online">{{ total.nodes_online }}</td>
              <td class="offline">{{ total.nodes_offline }}</td>
              <td class="unknown">{{ total.nodes_unknown }}</td>
              <td>{{ total.nodes_total }}</td>
              <td>{{ total.slices_total }}</td>
              <td class="registered">{{ total.slivers_registered }}</td>
              <td class="deployed">{{ total.slivers_deployed }}</td>
              <td class="started">{{ total.slivers_started }}</td>
              <td>{{ total.slivers_total }}</td>
            </tr>
          </tfoot>
        </table>
    </div>    
</div>
{% endblock %}
