{% extends "site_base.html" %}

{% block content %}

<h2>All tickets</h2>
<a href="{% url create_ticket %}"> Create new ticket </a>
<table>
  <tbody>
    {% for ticket in tickets %}
    {% if forloop.first %}
    <tr>
      <th>
        <a 
           href="?ordering={% if ordering == 'subject' %}-subject{% else %}subject{% endif %}"
           >
          Subject
        </a>
      </th>

      <th>
        <a 
           href="?ordering={% if ordering == 'priority' %}-priority{% else %}priority{% endif %}"
           >
          Priority
        </a>
      </th>

      <th>
        <a 
           href="?ordering={% if ordering == 'creation_date' %}-creation_date{% else %}creation_date{% endif %}"
           >
          Creation date
        </a>
      </th>

      <th>
        <a 
           href="?ordering={% if ordering == 'creator__id' %}-creator__id{% else %}creator__id{% endif %}"
           >
          Creator
        </a>
      </th>

      <th>
        <a 
           href="?ordering={% if ordering == 'queue__id' %}-queue__id{% else %}queue__id{% endif %}"
           >
          Queue
        </a>
      </th>

      <th>
        <a 
           href="?ordering={% if ordering == 'status' %}-status{% else %}status{% endif %}"
           >
          Status
        </a>
      </th>

    </tr>
    {% endif %}
    
    <tr>
      <td>
        <a href="{% url show_ticket ticket.id %}">
          {{ ticket.subject }}
        </a>
      </td>
      <td>
        {{ ticket.priority }}
      </td>
      <td>
        {{ ticket.creation_date }}
      </td>
      <td>
        {{ ticket.creator.username }}
      </td>
      <td>
        {{ ticket.queue.name }}
      </td>
      <td>
        {{ ticket.status }}
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
<a href="{% url create_ticket %}"> Create new ticket </a>
{% endblock %}
