#content {
    min-height: 400px;
    position: relative;
}

#description {
    margin-top:1em;
}

#firmware-warning {
    display: none;
    background: #fff79f url(../tip.png) 10px 50% no-repeat;
    border-radius: 20px;
    color: black;
    line-height: 68px;
    min-height: 68px;
    padding: 14px 14px 7px 70px;
    position: absolute;
    bottom: 0;
}

/*** firmware build change_view ***/
.form-row.field-kwargs div p {
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word; /* Non standar webkit */
}

.form-row.dynamic-files td.field-monospace_content p {
    white-space: pre;
}
